.container {
    --uib-size: 40px;
    --uib-speed: 1s;
    --uib-color: #09f;

    display: flex;
    gap: calc(var(--uib-size) * 0.15);
}

.dot {
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.2);
    height: calc(var(--uib-size) * 0.2);
    background-color: var(--uib-color);
    border-radius: 50%;
    animation: wave var(--uib-speed) ease-in-out infinite;
}

.dot1 {
    composes: dot;
    animation-delay: calc(var(--uib-speed) * -0.45);
}

.dot2 {
    composes: dot;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.dot3 {
    composes: dot;
    animation-delay: calc(var(--uib-speed) * -0.15);
}

.dot4 {
    composes: dot;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-200%);
    }
}
