.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 32px 0;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center; /* Center elements on mobile */
        gap: 16px; /* Reduce spacing for smaller screens */
    }
}
